.preloader-wrapper{
  padding:0;
  margin:0;

  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 30;
  background:rgb(255, 255, 255);
}
.loader-container {

  width: 100vw !important;
  height: 100vh !important;
}
.spinner-circle {
  position: absolute;
  top: 50%;
  left: 50%;
} 