.landingPage-container {
  display: flex;
  justify-content: space-between;

  .side-bar {
    .trending {
      position: sticky;
      padding-top: 2rem;
      top: 0;
      @media screen and (max-width: 375px) {
        width: 90vw !important;
      }
    }
    h2 {
      font-size: 24px;
    }

    .footer {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      display: flex;
      justify-content: space-around;
      margin-bottom: 2rem;
      a {
        color: black;
      }
    }
  }
  @media screen and (max-width: 1300px) {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.scroll_to_top {
  padding: 1rem;
  // width: 2rem;
  border-radius: 100%;
  background-color: #2FB5EE;
  font-size: 6rem;
  color: white;
};