@import url('https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700|Quicksand:400,500,600,700&display=swap');

.article__container {
  margin-top: 3rem;

  .article__notfound {
    text-align: center;

    h1 {
      font-family: 'Poppins', sans-serif;
      font-weight: 200;
      font-size: 56px
    }

    i {
      font-size: 100px;
      font-weight: 200;
    }
  }

  .article_title__row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    .article__author__details {
      display: flex;
      flex-direction: column;
      align-items: center;

      @media only screen and (max-width: 425px) {
        flex-direction: row;
        justify-content: space-between;
        width: 70vw;
      }
      p {
        font-size: 12px;
        padding: 1rem;
      }

      button {
        width: 10rem;
        height: 3rem;
        border-radius: 10px;
        border: 1px solid #000;
        font-size: 14px;
        font-weight: 400;
        background: none;
      }
    }

    .article__author__details h5 {
      margin: 0;
      padding: .8rem;
      font-family: 'Quicksand', sans-serif;
      font-size: 18px;
      font-weight: 800;
      color: #2FB5EE;
    }

    #author__profile__div {
      text-align: center;
    }

    .article__content {
      width: 70%;

      h1 {
        margin: 0;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
      }

      p {
        margin: .9rem 0 0 0;
      }

      p.article__description {
        font-size: 16px;
        color: #7E7C7C;
        font-weight: 400;
      }

      p.article__read__time {
        color: #7E7C7C;
        font-size: 14px;
        font-weight: 600;
      }

      div.article__body {
        margin-top: 2rem;
        margin-bottom: 2rem;
        

        p {
          font-family: 'Poppins', sans-serif;
          font-size: 15px;
          line-height: 30px;
          padding-top: 1rem;
        }

        img {
          width: 100% !important;
        }

        li {
          font-size: 15px;
          padding: 1rem;
        }

      }

      div.article__tags {
        padding-top: 1rem;
        padding-bottom: 1rem;
        display: flex;
        flex-flow: row wrap;
      }

      div.article__divider {
        padding-top: 1rem;
        border-bottom: 1px solid #7E7C7C;
      }

      @media only screen and (max-width: 425px) {
        width: 90vw;

        .article__title {
          font-size: 3.2rem;
        }
      }
    }

    div.article__actions {
      margin-top: 2.5rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .article__interaction {
        i {
          color: #7E7C7C;
          margin-left: 1rem;
        }
      }
    }

    .article__related__articles {
      h3 {
        text-align: center;
      }
    }
  }
}