html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

:root {
  --brand-color: #c8c8c8;
}

body {
  display: flex;
  flex-direction: column;
}

header ul {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--brand-color);
}

li {
  list-style-type: none; /* this removes the bullet points for li */
  padding: 10px;
  border: 1px solid blue;
}
li:hover {
  background: yellowgreen;
}

ul {
  margin: 0; /* This removes the default margin for ul */
}


/* ==== main ==== */

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  outline: 1px solid black; /* for easy visualization */
}

.box {
  background-color: lightcoral;
  width: 200px;
  border: 1px solid black;
  margin: 5px;
  padding: 10px;
}

footer {
  background-color: var(--brand-color);
  padding: 10px;
}

@media only screen and (max-width: 600px) {
  header ul {
    background-color: var(--brand-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
  }
}