@import url('https://fonts.googleapis.com/css?family=Lato|Lexend+Deca&display=swap');
/* variables */
$primary-color: #2FB5EE;
  /* BASE STYLING */
  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  html {
    /* 1rem = 10px; 10px/16px = 62.5% */
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;
  }

  .passwd-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    margin-top: 2rem;

    .logo img {
      height: 4rem;
      width: 25rem;
      margin: 2rem 0 3rem 0;

      @media screen and (max-width: 650px) {
       & {
          height: 3.5rem;
          width: 20rem;
        }
      }
    }
    h4 {
      text-align: center;
      margin-bottom: 3rem;
      @media screen and (max-width: 650px) {
        & {
           font-size: 1.6rem;
         }
       }
    }

    .success-container {
      text-align: center;

      .login-link {
        text-align: center;
        font-size: 1.2rem;
        margin: auto center;
        color: $primary-color;
        background: white;
        border: 1px solid $primary-color;
        padding: 0.7rem;
        border-radius: 4px;
      }
      .login-link:hover {
        color: black;
      }
    }
    h5 {
      text-align: center;
      font-size: 1.4rem;
    }

    form {
      width: 35rem;

      @media screen and (max-width: 650px) {
        & {
          width: 25rem;
         }
       }

      input, button {
        background-color: $primary-color;
        border: 1px solid $primary-color;
        height: 4.2rem;
        border-radius: .5rem;
        width: 100%;
        font-size: 1.6rem;
        margin-bottom: 2.5rem;
      }
      p { margin-bottom: .5rem }
      #email-input, #password-input, #confirm-password {
        border: 1px solid $primary-color;
        box-shadow: none;
        font-size: 1.3rem;
        padding-left: 10px;
        box-sizing: border-box;
        margin-bottom: 2.5rem;
        width: 100% !important;
        box-sizing: border-box;
        height: 4.2rem;
      }
      button {
        color: white;
      }
    }

    .error-response h5 {
      color: red;
    }
  }