.tagLink {
  text-decoration: none;
  color: black;
  padding: 3px 9px 3px 9px;
  background-color: #e6e6e6;
  border-radius: 6px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  margin: 0.2rem;
}
